[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
django-crispy-forms = "*"
pyuploadcare = "*"
Pillow = "*"
django-cors-headers = "*"
whitenoise = "*"
django-bootstrap4 = "*"
gunicorn = "*"
decouple = "*"
python-decouple = "*"
dj-database-url = "*"
psycopg2-binary = "*"
django-heroku = "*"

[dev-packages]

[requires]
python_version = "3.8"
